body {
  overflow-x: hidden;
}

.text {
  position: fixed;
  width: 460px;
  height: 90px;
  top: 50%;
  margin-top: -45px;
  left: 50%;
  margin-left: -230px;
}



.boy {
  display: block;
  position: absolute;
}


.jonathan {
  width: 22vw;
  height: 55vh;
  position: absolute;
}


